.raceDurationPreset {
    width: 100%;
    margin-bottom:0.3em;
}

button.isSelectedtrue {
    background-color: #116f1f;
    color: white;
    white-space: pre-line;
}

button.isSelectedfalse {
    white-space: pre-line;
}


div:focus {
    border: 0px;
}

