[Unit]
Description=Formula Slotcar Service
After=network-online.target

[Service]
Type=idle
ExecStart=/usr/local/bin/websocketd --port=8093 /usr/local/bin/FSR6webd

[Install]
WantedBy=multi-user.target

