.fullscreenblur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1; /*-1 when hidden*/
}

/* DriverCard which is being spotLighted gets z-index:2 */
.drivercard.spotlightme {
    z-index: 2;
}

.carselectormodal {
    position: fixed;
    top:480px;
    height: 560px;
    left: 30px;
    width: 1860px;
    z-index: 3;
    background-color: white;
    border-radius: 20px;
}

.carcontainer  {
    position: absolute;
    top: 0px;
    bottom: 150px;
    width:100%;
    overflow : auto;
}

a.carimage {
    display: inline-block;
    position: relative;
    height: 185px;
    width: 330px;
    margin:6px;
    cursor: pointer;
    border-radius: 12px;
    border: 5px solid grey;    
}
a.carimage img {
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carselectorbuttons {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carselectormodal button,
.carselectormodal input[type="file"] {
    font-size: 1.5rem;
    padding: 0.5rem 1.3rem;
    border-radius: 15px;
    border-width: 5px;
    background-color: white;
}