.lapsremaining {
    margin-top: auto;
    padding: 0.6rem 0.25rem 0.2rem 0.25rem;
    text-align: center;
    border-radius: 0 0 1.04vw 1.04vw;
    white-space: nowrap;
}

.drivercard .lapsremaining .timelbl {
    font-size: 2.2vw;
    line-height: 1.1;
}

.lapsremaining div.laps {
    font-size: 6.5rem;
    font-family: 'Selawik-SemiBold';
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
}
