.driver1 {
    background-color: rgb(255, 206, 206);
    color: rgb(0, 0, 0)
}
.driver1 .emphasized {
    background-color: rgb(155, 0, 0);
    color: white;    
}


.driver2 {
    background-color: rgb(198, 253, 200);
    color: rgb(0, 0, 0)
}

.driver2 .emphasized {
    background-color: rgb(10, 102, 2);
    color: white;
}


.driver3 {
    background-color: rgb(198, 200, 255);
    color: rgb(0, 0, 0)
}

.driver3 .emphasized {
    background-color: rgb(8, 0, 155);
    color: white;
}


.driver4 {
    background-color: rgb(254, 255, 173);
    color: rgb(0, 0, 0)
}

.driver4 .emphasized {
    background-color: rgb(255, 224, 51);
    color: black;
}


.driver5 {
    background-color: rgb(252, 193, 138);
    color: rgb(0, 0, 0)
}

.driver5 .emphasized {
    background-color: rgb(201, 122, 4);
    color: white;
}


.driver6 {
    background-color: rgb(185, 185, 185);
    color: rgb(0, 0, 0)
}

.driver6 .emphasized {
    background-color: white;
    color: black;
}