.drivercard {
    width: 16.15vw;
    margin: 0;
    border-radius: 1.56vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 104.17vw;       /* starts off screen right */
    top: 0;
    height: 100%;
    transition: 0.5s;
}

.drivercard.show {
    opacity: 1;
}

.drivercard.suspended {
    opacity: 0.1;
}


.drivercard[data-order="1"].show { left: 0; }
.drivercard[data-order="2"].show { left: 16.77vw; }
.drivercard[data-order="3"].show { left: 33.54vw; }
.drivercard[data-order="4"].show { left: 50.31vw; }
.drivercard[data-order="5"].show { left: 67.08vw; }
.drivercard[data-order="6"].show { left: 83.85vw; }

.drivername {
    padding: 0.3rem 0.25rem 0.65rem 0.25rem;
    text-align: center;
    border-radius: 1.04vw 1.04vw 0 0;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.drivername div {
    font-size: 3.3rem;
    font-family: 'Selawik-SemiBold';
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.drivercontent {
    padding: 0.3em;
}


.drivercard .time {
    font-size: 6rem;
    text-align: center;
    font-family: 'Selawik-SemiBold';
    color: #333;
    line-height: 90%;
}

.drivercard .personalFastestLap .time {
    color: #070;
}
.drivercard .raceFastestLap .time {
    color: rgb(170, 0, 180);
}

.drivercard .timelbl {
    font-size: 3rem;
}

.spotlightme {
    z-index: 1;
}

.carimg {
    cursor: pointer;
}

.carimg img {
    object-fit: cover;
    width: 100%;
    height: 18.52vh;
}

.fastestlaptime {
    padding: 0.1em 0 0.3em 0;
    border-radius: 0.3em;
}

.drivercard .raceFastestLap .time {
    color: rgb(180, 0, 180);
}

.lastlaptime {
    margin-bottom: 0.9rem;
}
