.EditDriverName {
    display:flex;
    font-size:1.3em;
    align-items: center;
    width: 100%;
    vertical-align: middle;
}

.EditDriverName input {
    width: 34vw;
    height: 2.7rem;
    margin-left: 2vw;
    font-size: 1.5rem;
}

.EditDriverName .driverNumber {
    padding-left:6vw;
    padding-right: 2vw;
}