#raceTypeModal {
    background-color: rgb(150, 150, 150);
    width: 50%;
    border-radius: 20px;
}

#racePresetList {
    padding:1em;
    background-color: rgb(240,240,255);
    max-height: 750px;
    overflow:auto;
    /* 2-column layout
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    */
}

#raceTypeModalHeader {
    height:20px;
    background-color: rgb(240,240,255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#raceTypeFooter {
    padding: 0.6em 2em;
}

#raceTypeStartRace {
    display: inline-flex;
    align-items: center; 
}
